html {
    /* font size will determine the component/utility scaling */
    font-size: 14px;
}

body {
    margin: 0 !important;
    padding: 0 !important;
}

#app {
    visibility: hidden;
}

#nprogress .bar {
    z-index: 9999999 !important;
}

.lucide {
    width: 16px;
    height: 16px;
}